/* 1. BODY */

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f5f5f5;
    line-height: 1.6em;
}
a {
	color: #333;
}

header {
	width: 100%;
	position: relative;
	z-index: 100;
}

.logo {
    display: block;
    padding-left: 60px;
    background:transparent;
    height: 116px;
    width: 116px;
}

.header-inner ul li {
    position: absolute;
    margin-top: 100px;
    margin-left: 50%;
    margin-right: 50%;
    list-style: none;
    color: #FFFFFF;
}

.header-banner{
    background-color: rgb(53, 53, 53);
}

.header-banner .assetBlock {
	width: 1170px;
	text-align: center;
	margin: auto;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
    letter-spacing: 1px;
    background-color: rgb(53, 53, 53);
    padding-top: 8px
}

.header-banner .assetBlock a {
	color: #ed6663
}


.top-cart-content .product-name {
	margin: 0;
	width: 150px;
    line-height: 1;

}
.top-cart-content .product-name a {
	font-size: 13px;
	line-height: normal;
	font-weight: normal;
}
.top-cart-content .product-name a:hover {
	font-size: 13px;
	color: #ed6663
}
.top-cart-contain .price {
	color: #ed6663;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 10px;
	font-size: 14px;
}
.top-cart-contain .product-details .price {
	color: #ed6663;
	width: auto;
	float: none;
	font-weight: bold;
	padding-left: 0px
}
.mini-cart {
	text-align: center;
	cursor: pointer;
	margin: 0px;
	display: block !important;
    background: #ed6663;
    top: 90px
}

.mini-cart a {
	color: #fff;
	margin: 0px;
	line-height: 17px;
	font-size: 13px;
	padding: 0px 15px;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.5px;
	font-weight: normal;
	display: block;
	line-height: 70px;
	height: 75px;
	-webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	-o-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	box-shadow: inset 0 0 0 0 #202020
}
.top-cart-contain > .mini-cart:hover > a {
	-webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	-o-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	box-shadow: inset 0 -75px 0 0 #202020;
	color: #fff;
}


.mini-cart a span {
	background: #fff;
	display: inline-block;
	color: #ed6663;
	width: 20px;
	border-radius: 20px;
	font-size: 10px;
	height: 20px;
	line-height: 19px;
	text-align: center;
	vertical-align: top;
	margin-top: 15px;
}

.top-cart-contain {
	position: relative;
    float: right;
    bottom: 90px;
    right: 100px
}

.our-features-box .container{ padding:0px
}

.our-features-box ul {
	list-style: none;
	margin: auto;
	padding: 0;
	border: none;
	padding:50px 0px;
	overflow: hidden
}
.our-features-box li {
    float: left;
	margin-bottom: 0px;
	text-align: center;
	width: 25.5%;
	padding: 0;
	display: inline-block;
}
.our-features-box li.last {
	margin-right: 0;
	width: 23.5%
}

.our-features-box li.last .our-features-box .feature-box {margin-right:0px!important}

.our-features-box .feature-box {
	overflow: hidden;
	font-size: 16px;
	text-align: center;
	color: #fff;
	line-height: 1.4em;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
	margin-right: 15px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius:3px;
	padding:25px
	
}

.free-shipping{ background:#94d7fb; color: #fff; }
.need-help{ background:#685c88; color: #fff; }
.money-back{ background:#fc9cc4; color: #fff; }
.return-policy{ background:#dc4720; color: #fff;margin-right: 0!important; }

.our-features-box .feature-box .content {
  display: block;
  text-align: left;
  margin-left: 50px;
  border-left: 1px rgba(255,255,255, 0.5) solid;
  padding-left: 15px;
}
.our-features-box .feature-box span {
	font-size: 12px;
	display: block;
	font-weight: 400;
	text-transform: none;
	display: block;
	padding-top: 5px;
	color: #fff;
	line-height: 18px;
	font-style: italic;
}

#tab-description h2 {
	display: none;
}
#reviews #comments h2 {
	font-size: 15px;
	font-weight: bold;
	margin: auto auto 15px;
	padding: 0px;
}



footer {
	color: #fff;
	background: #252932;
	margin-top: 20px;
	padding-top: 50px;
	height: 200px;
}


.col-4 {
	display: flex;
	flex-wrap: wrap;
	float: left;
	justify-content: space-between;
	padding-bottom: 25px;
}


.co-info {
    margin-right: 0px!important;
    background: #88be4c;
    padding: 35px 30px;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
}

.first-topics {
	position: absolute;
	right: 600px;
}

.second-topics {
	position: absolute;
	right: 400px;
}


.format {
	color: rgb(255,255,255);
	font-size: 15px;
}

.QR {
	position: absolute;
	right: 35px;
}

.footer-end {

	background-color: rgb(255,255,200);
	max-height: 20px;

}

.copyright {

	text-align: center;
	font-size: 10px;
	color: rgb(0,0,0);
	background-image: url("./images/lineas-pie.png");
}