/* BEGIN OF SPECIAL STYLING */



body {
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f5f5f5;
    line-height: 1.6em;
}
a {
	color: #333;
}
a:hover, a:focus {
	color: #ed6663;
	text-decoration: none;
	outline: none;
}
:hover {
}
small {
	font-size: 85%;
	font-weight: normal;
	text-transform: lowercase;
	color: #999999;
}
:focus {
	outline: none;
}








/* ======================================================================================= */
/* ======================================================================================= */
/* ================= BEGIN OF PRE-FOOTER ========================= */
our-features-box .container{ padding:0px
}
.our-features-box ul {
    list-style: none;
    margin: auto;
    padding: 0;
    border: none;
    padding:50px 0px;
    overflow: hidden
}
.our-features-box li {
    float: left;
    margin-bottom: 0px;
    text-align: center;
    width: 25.5%;
    padding: 0;
    display: inline-block;
}
.our-features-box li.last {
    margin-right: 0;
    width: 23.5%
}
.our-features-box li.last .our-features-box .feature-box {margin-right:0px!important}
.our-features-box .feature-box {
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 1.4em;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    margin-right: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius:3px;
    padding:25px
}
.free-shipping{ background:#94d7fb; color: #fff; }
.need-help{ background:#685c88; color: #fff; }
.money-back{ background:#fc9cc4; color: #fff; }
.return-policy{ background:#dc4720; color: #fff;margin-right: 0!important; }
.our-features-box .feature-box .content {
  display: block;
  text-align: left;
  margin-left: 50px;
  border-left: 1px rgba(255,255,255, 0.5) solid;
  padding-left: 15px;
}
.our-features-box .feature-box span {
    font-size: 12px;
    display: block;
    font-weight: 400;
    text-transform: none;
    display: block;
    padding-top: 5px;
    color: #fff;
    line-height: 18px;
    font-style: italic;
}
#tab-description h2 {
    display: none;
}



/* ========================= BEGIN FOOTER ================================================-*/



footer {
	color: #fff;
	background: #252932;
	margin-top: 20px;
	padding-top: 50px;
	height: 200px;
}


.col-4 {
	display: flex;
	flex-wrap: wrap;
	float: left;
	justify-content: space-between;
	padding-bottom: 25px;
}


.co-info {
    margin-right: 0px!important;
    background: #88be4c;
    padding: 35px 30px;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
}

.first-topics {
	position: absolute;
	right: 800px;
}

.second-topics {
	position: absolute;
	right: 400px;
}


.format {
	color: rgb(255,255,255);
	font-size: 15px;
}

.QR {
	position: absolute;
	right: 35px;
}

.footer-end {

	background-color: rgb(255,255,200);
	max-height: 20px;
	
}

.copyright {
	margin-top: 180px;
	text-align: center;
	font-size: 10px;
	color: rgb(0,0,0);
	background-image: url("./images/lineas-pie.png");
}


/* =================== END FOOTER =================================== */


/* =================== BEGIN EFFECTS BTN ============================ */


button.button {
	display: inline-block;
	border: 0;
	background: #fff;
	padding: 8px 10px;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	border: 1px solid #666;
	line-height: 1.6em!important;
}
button.button:hover {
    -webkit-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    -o-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    box-shadow: inset 0 -45px 0 0 #ed6663;
    border: 2px solid #e0403d;
    color: #fff;
}

.btn-cart{
display: inline-block;
    border: 0;
    background: #fff!important;
    padding: 0px!important;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    border: 2px #88be4c solid!important;
    -webkit-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    -o-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    box-shadow: inset 0 0 0 0 #fff;
	width:auto!important;
	border-radius:0px!important}
	
.btn-cart:before {
    content: '\f07a';
    font-family: FontAwesome;
    background: #88be4c;
    color: #fff;
    font-size: 16px;
    padding:6px 15px 6px 15px;
    display: inline-block;
	vertical-align: middle;
	line-height:1.3em
}	

.btn-cart span {
    font-weight: bold!important;
    font-size: 12px!important;
    text-transform: uppercase!important;
    color: #333;
    display: inline-block;
    padding: 0px 15px;
	vertical-align: middle;
	font-weight:normal
}

.btn-cart:hover span {color: #fff!important;}

.btn-cart:hover {
    -webkit-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    -o-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    box-shadow: inset 0 -45px 0 0 #ed6663;
    border: 2px solid #e0403d;
    color: #fff;
}


/*  END BOTONES AGREGAR AL CARRITO */







